BECA ACADEMICA 1E 25.xlsx
BECA ACADEMICA 2E 25.xlsx
BECA ACADEMICA 1E 23.xlsx
BECA ACADEMICA 2E 23.xlsx
BECA ACADEMICA 1E 22.xlsx
BECA ACADEMICA 2E 22.xlsx
dashborads.ipynb
plantilla1.py
plantilla2.py
dfFinal.json
arregloBases.ipynb